{% extends 'ecommerce/base.html' %}
{% load crispy_forms_tags %}

{% load static %}

{% block body %}

<body>

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">

<!-- ============================ COMPONENT REGISTER   ================================= -->
	<div class="card mx-auto" style="max-width:520px; margin-top:40px;">
      <article class="card-body">
		<header class="mb-4"><h4 class="card-title">Criar conta</h4></header>
		<form method="POST" id="usuarioForm"  autocomplete="off" data-cities-url="{% url 'usuarios:ajax_carregar_cidades' %}">
				<div class="form-row">
					<div class="col form-group">
						{{ formUser.first_name| as_crispy_field }}
					</div> <!-- form-group end.// -->
					<div class="col form-group">
						{{ formUser.last_name| as_crispy_field }}
					</div> <!-- form-group end.// -->
				</div> <!-- form-row end.// -->
				<div class="form-group">
					{{ formUser.data_nascimento|as_crispy_field }}
					{{ formUser.email|as_crispy_field }}
					{{ formTelefone.numeroFixo|as_crispy_field }}
					{{ formTelefone.numeroCelular|as_crispy_field }}
				</div>
				<header class="mb-4"><h5 class="card-title">Endereço</h5></header>
		<!-- Endereço 1// -->
				<div class="form-row">
					<div class="form-group col-md-6">
						  <label>Estados*</label>

						<select name="estados" id="estados" class="form-control" required>
					    	<option disabled selected="true">Selecione o estado</option>
							{% for estado in estados %}
						  <option value="{{estado.id}}" required>{{estado.nome}} - ({{estado.sigla}})</option>
						  {% endfor %}
					  	</select>
						<small id="hint_id_estados" class="form-text text-muted">Obrigatório</small>
					</div> <!-- form-group end.// -->



					<div class="form-group col-md-6">
					  	<label>Cidades*</label>
					  	<select name="cidades" id="cidades" class="form-control" required>
					   		 <option disabled selected="true" required>Selecione a cidade</option>
					  	</select>
						<small id="hint_id_cidades" class="form-text text-muted">Obrigatório</small>
					</div>
					<div class="form-group col-md-6">
						{{ formEndereco.rua|as_crispy_field }}
					</div>
					<div class="form-group col-md-6">
						{{ formEndereco.bairro|as_crispy_field }}
					</div>
					<div class="form-group col-md-6">
						{{ formEndereco.numero|as_crispy_field }}
					</div>
					<div class="form-group col-md-6">
						{{ formEndereco.complemento|as_crispy_field }}
					</div>
					<div class="form-group col-md-6">
						{{ formEndereco.cep|as_crispy_field }}
					</div>

					{{ formUser.radio_Endereco|as_crispy_field }}
				<!-- Endereço 2// -->

			<div class="form-row">

				<div class="form-group col-md-6 sim selectEndereco">
						  <label>Estados*</label>

						<select name="estados" id="estados1" class="form-control" required>
					    	<option disabled selected="true">Selecione o estado</option>
							{% for estado in estados %}
						  <option value="{{estado.id}}" required>{{estado.nome}} - ({{estado.sigla}})</option>
						  {% endfor %}
					  	</select>
						<small id="hint_id_estados1" class="form-text text-muted">Obrigatório</small>
					</div> <!-- form-group end.// -->


				<div class="form-group col-md-6 sim selectEndereco">
					  	<label>Cidades*</label>
					  	<select name="cidades" id="cidades1" class="form-control" required>
					   		 <option disabled selected="true" required>Selecione a cidade</option>
					  	</select>
						<small id="hint_id_cidades1" class="form-text text-muted">Obrigatório</small>
				</div>
				<div class="form-group col-md-6 sim selectEndereco">
					{{ formEndereco1.rua|as_crispy_field }}
				</div>
				<div class="form-group col-md-6 sim selectEndereco" >
					{{ formEndereco1.bairro|as_crispy_field }}
				</div>
				<div class="form-group col-md-6 sim selectEndereco">
					{{ formEndereco1.numero|as_crispy_field }}
				</div>
				<div class="form-group col-md-6 sim selectEndereco">
					{{ formEndereco1.complemento|as_crispy_field }}
				</div>
				<div class="form-group col-md-6 sim selectEndereco">
					{{ formEndereco1.cep|as_crispy_field }}
				</div>
			</div>



					<!-- form-group end.// -->
				</div> <!-- form-row.// -->
			<div class="form-row">
					<div class="form-group col-md-6">
						{{ formUser.password1|as_crispy_field }}
					</div> <!-- form-group end.// -->
					<div class="form-group col-md-6">
						{{ formUser.password2|as_crispy_field }}
					</div> <!-- form-group end.// -->
				</div>
			    <div class="form-group">
			        <button type="submit" class="btn btn-primary btn-block"> Register  </button>
			    </div> <!-- form-group// -->
			    <div class="form-group">
		            <label class="custom-control custom-checkbox"> <input type="checkbox" class="custom-control-input" checked=""> <div class="custom-control-label"> I am agree with <a href="#">terms and contitions</a>  </div> </label>
		        </div> <!-- form-group end.// -->
			</form>
		</article><!-- card-body.// -->
    </div> <!-- card .// -->
    <p class="text-center mt-4">Have an account? <a href="">Log In</a></p>
    <br><br>
<!-- ============================ COMPONENT REGISTER  END.// ================================= -->


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

</body>

<script src="{% static '/js/javascriptUsuarios.js' %}" type="text/javascript"></script>

{% endblock %}

