{% extends 'ecommerce/base.html' %}
{% load crispy_forms_tags %}

{% load static %}

{% block body %}

<body>

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">

<!-- ============================ COMPONENT REGISTER   ================================= -->
	<div class="card mx-auto" style="max-width:520px; margin-top:40px;">
      <article class="card-body">
		<header class="mb-4"><h4 class="card-title">Criar conta</h4></header>
		<form  method="POST" id="usuarioForm"  autocomplete="off" >
				{% csrf_token %}
			<div class="form-row">
				<div class="form-group col-md-12">
					{{ form.email|as_crispy_field }}
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
						{{ form.password1|as_crispy_field }}
				</div>
				<div class="form-group col-md-6">
						{{ form.password2|as_crispy_field }}
				</div>
				<button type="submit" class="btn btn-primary btn-block"> Registrar  </button>
			</div>

			</form>


		</article>
    </div>
    <p class="text-center mt-4">Já possui uma conta? <a href="{% url 'usuarios:login' %}">Entre aqui</a></p>
	<div class="text-center mt-4" >
        <img src="https://img.icons8.com/ios-glyphs/60/4a90e2/finger-and-thumb.png"/>
    </div>
    <br><br>

</section>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

</body>
	{% if messages %}
		{% for m in messages %}
			<li {% if m.tags %} class="{{ m.tags }}"{% endif %}>{{ m }}</li>
		<script>
				const Toast = Swal.mixin({
				  toast: true,
				  position: 'center',
				  showConfirmButton: true,
				  timer: 3000,
				  timerProgressBar: true,
				  didOpen: (toast) => {
					toast.addEventListener('mouseenter', Swal.stopTimer)
					toast.addEventListener('mouseleave', Swal.resumeTimer)
				  }
				})

				Toast.fire({
				  icon: 'success',
				  title: '{{m}} \n Clique no botão OK para prosseguir'
				}).then((result) => {
				  if (result.isConfirmed) {
						window.location.href = "{% url 'usuarios:criarperfil' %}";
				  }
				})
		  </script>
		 {{ m }}
		{% endfor %}
	{% endif %}
{% endblock %}

