{% extends 'ecommerce/base.html' %}
{% load crispy_forms_tags %}

{% load static %}

{% block body %}

<body>

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">

<!-- ============================ COMPONENT REGISTER   ================================= -->
	<div class="card mx-auto" style="max-width:520px; margin-top:40px;">
      <article class="card-body">
		<header class="mb-4"><h4 class="card-title">Criar conta</h4></header>
		<form  method="POST" id="usuarioForm"  autocomplete="off" >
				{% csrf_token %}
			<div class="form-row">
				<div class="form-group col-md-6">
						{{ form.first_name| as_crispy_field }}
				</div>
				<div class="form-group col-md-6">
						{{ form.last_name| as_crispy_field }}
				</div>

				<div class="form-group col-md-6">
					{{ form.data_nascimento|as_crispy_field }}
				</div>
				<div class="form-group col-md-6">
					{{ form.email|as_crispy_field }}
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
						{{ form.password1|as_crispy_field }}
				</div>
				<div class="form-group col-md-6">
						{{ form.password2|as_crispy_field }}
				</div>
				<button type="submit" class="btn btn-primary btn-block"> Register  </button>
			</div>

			</form>


		</article>
    </div>
    <p class="text-center mt-4">Have an account? <a href="">Log In</a></p>
    <br><br>


</section>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.js"></script>
<script src="sweetalert2/dist/sweetalert2.min.js"></script>
<link rel="stylesheet" href="sweetalert2/dist/sweetalert2.min.css">
<script src="{% static 'js/javascriptUsuario.js' %}" type="text/javascript"></script>


</body>
	{% if messages %}
		{% for m in messages %}

		{% if m.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
			<li {% if m.tags %} class="{{ m.tags }}"{% endif %}>{{ m }}</li>
		<script>
				const Toast = Swal.mixin({
				  toast: true,
				  position: 'center',
				  showConfirmButton: true,
				  timer: 3000,
				  timerProgressBar: true,
				  didOpen: (toast) => {
					toast.addEventListener('mouseenter', Swal.stopTimer)
					toast.addEventListener('mouseleave', Swal.resumeTimer)
				  }
				})

				Toast.fire({
				  icon: 'success',
				  title: '{{m}}'
				}).then((result) => {
				  if (result.isConfirmed) {
						window.location.href = "{% url 'login' %}";
				  }
				})
		  </script>
		 {{ m }}
		{% endif %}
		{% endfor %}
	{% endif %}
{% endblock %}

