asgiref~=3.2.10
Django~=3.0.7
mysqlclient==2.0.1
Pillow~=7.1.2
pkg-resources==0.0.0
pytz~=2020.1
sqlparse~=0.3.1

pip~=20.3.3
keyring~=18.0.1
wheel~=0.34.2
PyYAML~=5.3.1
setuptools~=45.2.0
six~=1.15.0
django-crispy-forms~=1.10.0
phonenumbers~=8.12.15