{% extends 'usuarios/perfil-principal.html' %}
{% load static %}

{% block content %}

	<main class="col-md-9">

		<article class="card mb-3">
			<div class="card-body">
				{% if not usuario.status %}
				<div>
				<h5 class="text-center mt-4">
					  <strong>
					 Você precisa realizar o cadastro de seu perfil
					  </strong>
				 <img src="{% static 'ecommerce/images/atencao.png' %}"/>
				 </h5>
					<div class="d-flex justify-content-center">

				<a href="{% url 'usuarios:criarperfil' %}" class="btn btn-secondary">Cadastrar perfil</a>
					</div>
				</div>
				{% elif usuario.status %}
				<figure class="icontext">
						<div class="icon">
							{% if not user.foto %}
								<img class="rounded-circle img-sm" id="foto" src="{% static 'ecommerce/images/avatars/user-icon.png' %}">
								<input type="hidden" name="user icons png from pngtree.com" href='https://pngtree.com/so/user-icons'>
								</input>
							{% else %}
								<img class="rounded-circle img-sm" src="{{ usuario.foto.url }}">
							{% endif %}
						</div>
						<div class="text">
							<strong> {{ user.first_name }} {{user.last_name }} </strong> <br>
							<p class="mb-2"> {{ user.email }}  </p>
							<button class="btn btn-light btn-sm" data-toggle="modal" data-target="#modal-foto">Alterar foto</button>
						</div>
				</figure>
				<hr>
				<div class="container">
					<div class="row">
						<div class="col-lg-7">
							<p>
								<i class="fa fa-map-marker text-muted"></i> &nbsp; Meus endereços:
								<br>
								<div class="form-inline">
									{% for endereco in enderecos %}
									{{ endereco.cidade.nome }}, {{ endereco.rua }},
									{{ endereco.bairro }}, {{ endereco.numero}} &nbsp
									<form action="{% url 'usuarios:editar_endereco' %}" method="post">
										{% csrf_token %}
										<button type="submit" class="btn btn-light btn-sm" name="endereco"
										value="{{ endereco.pk }}" style="background-color:white; border-color:white;">
										Editar
									</button>
								</form>
								<br>
								{% empty %}
								<p> Você ainda não possui nenhum endereço </p>
								{% endfor %}
							</div>
						</p>
						<br>
						</div>
					<div class="col-lg-5">
						<p>
							<i class="fas fa-phone text-muted"></i> &nbsp; Meus telefones:
							 <br>
							 <div class="form-inline">
								{% for telefone in telefones %}
									{{ telefone.tipo }}: {{ telefone.numero }} &nbsp
									<form method="post">
										{% csrf_token %}
										<a href="{% url 'usuarios:perfil_configuracao' %}" class="btn btn-light btn-sm"
											style="background-color:white; border-color:white;">
											Editar
										</a>
									</form>
									<br>
									{% empty %}
										<p> Você ainda não possui nenhum telefone </p>
								{% endfor %}
							</div>
						</p>
					</div>
					</div>
				</div>

			</div>
				<article class="card-group card-stat">
					<figure class="card bg">
						<div class="p-3">
							 <h4 class="title">38</h4>
							<span>Pedidos</span>
						</div>
					</figure>
					<figure class="card bg">
						<div class="p-3">
							 <h4 class="title">5</h4>
							<span>Lista de desejos</span>
						</div>
					</figure>
					<figure class="card bg">
						<div class="p-3">
							 <h4 class="title">12</h4>
							<span>Aguardando entrega</span>
						</div>
					</figure>
					<figure class="card bg">
						<div class="p-3">
							 <h4 class="title">50</h4>
							<span>Produtos e serviços entregues</span>
						</div>
					</figure>
				</article>
				<br><br><br>
				{% include 'usuarios/menu-pedidos-perfil.html' %}
			</div> <!-- card-body .// -->
		</article> <!-- card.// -->
	{% endif %}
	</main>
	<!-- card.// -->

	{% include 'usuarios/modal-foto.html' %}
	<script src="{% static 'js/validarFoto.js' %}" type="text/javascript"></script>

{% endblock %}
