  <article class="card mb-3">
    <div class="card-body">
      <h5 class="card-title mb-4">Pedidos recentes </h5>

      <div class="row">
        <div class="col-md-6">
          <figure class="itemside  mb-3">
            <figcaption class="info">
              <!-- <div class="aside"><img src="images/items/1.jpg" class="border img-sm"></div> -->
              <div class="aside"><img src="" class="border img-sm"></div>
              <time class="text-muted"><i class="fa fa-calendar-alt"></i> 12.09.2019</time>
              <p>Great book name goes here </p>
              <span class="text-success">Order confirmed </span>
            </figcaption>
          </figure>
        </div> <!-- col.// -->
        <div class="col-md-6">
          <figure class="itemside  mb-3">
            <!-- <div class="aside"><img src="images/items/2.jpg" class="border img-sm"></div> -->
            <div class="aside"><img src="" class="border img-sm"></div>
            <figcaption class="info">
              <time class="text-muted"><i class="fa fa-calendar-alt"></i> 12.09.2019</time>
              <p>How to be rich</p>
              <span class="text-success">Departured</span>
            </figcaption>
          </figure>
        </div> <!-- col.// -->
        <div class="col-md-6">
          <figure class="itemside mb-3">
            <!-- <div class="aside"><img src="images/items/3.jpg" class="border img-sm"></div> -->
            <div class="aside"><img src="" class="border img-sm"></div>
            <figcaption class="info">
              <time class="text-muted"><i class="fa fa-calendar-alt"></i> 12.09.2019</time>
              <p>Harry Potter book </p>
              <span class="text-success">Shipped  </span>
            </figcaption>
          </figure>
        </div> <!-- col.// -->
      </div> <!-- row.// -->

      <a href="#" class="btn btn-outline-primary btn-block"> Ver todos os pedidos <i class="fa fa-chevron-down"></i>  </a>
    </div> <!-- card-body .// -->
  </article> <!-- card.// -->
