<!-- The Modal -->
<div class="modal" id="modal-foto">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      {% if perfil_usuario %}
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Nova foto de perfil</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
      {% else %}
        <div class="modal-header">
          <h4 class="modal-title">Nova logo da empresa</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
      {% endif %}

      <form class="form-class" enctype="multipart/form-data" method="post">
      <!-- Modal body -->
        <div class="modal-body">
            {% csrf_token %}
            <label class="btn btn-info" for="foto">
                <input id="foto" name="foto" type="file" style="display:none"
                  onchange="$(`#nome-foto`).text(this.files[0].name)" accept='image/*' required>
                Selecione a imagem
            </label>
            <span class='label label-info' id="nome-foto"></span>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button class="btn btn-secondary" type="submit">Salvar</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
        </div>
      </form>
    </div>
  </div>
</div>
