{% extends 'ecommerce/base.html' %}
{% load static %}

{% block body %}

<body>

<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg-gray">
<div class="container">
	<h2 class="title-page">Minha conta</h2>
</div> <!-- container //  -->
</section>
<!-- ========================= SECTION PAGETOP END// ========================= -->

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
<div class="container">
	<div class="row">
		{% block menu-perfil %}
				 {% include "usuarios/menu-perfil.html" %}
		{% endblock %}
		<main class="col-md-9">

			<div class="card">
		    <div class="card-body">
				<form class="form-class" name="editar" action="{% url 'usuarios:perfil_configuracao' %}"
					onsubmit="return validateForm()" method="post">
					{% csrf_token %}
		     <div class="row">
					 <div class="col-lg-8">
							 <div class="form-row">
								 <div class="col-md form-group">
									 <label>Nome</label>
									 <input type="text" name="nome" class="form-control" value="{{ user.first_name }}">
								 </div> <!-- form-group end.// -->
								 <div class="col form-group">
									 <label>Sobrenome</label>
									 <input type="text" name="sobrenome" class="form-control" value="{{user.last_name}}">
								 </div> <!-- form-group end.// -->
							 </div> <!-- form-row.// -->

							 <div class="form-row">
								 <div class="col form-group">
									 <label>Email</label>
									 <input type="email" name="email" class="form-control" value="{{ user.email }}">
								 </div> <!-- form-group end.// -->
								 {% include "usuarios/telefone-formulario.html" %}
							 </div> <!-- form-row.// -->

							 <button class="btn btn-primary mt-4" type="submit">Salvar</button>
							 <a href="{% url 'usuarios:alterarsenha' %}" class="btn btn-secondary btn-small mt-4">Alterar senha</a>

						 </div>
					 	</form>
						<br><br><br><br><br><br>
		      </div> <!-- card-body.// -->
		    </div> <!-- card .// -->
			</main> <!-- col.// -->
		</div>
	</div>
</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

</body>

<script src="{% static 'js/validarTelefone.js' %}" type="text/javascript"></script>

{% endblock %}
