{% extends 'ecommerce/base.html' %}
{% load static %}

{% block body %}

<body>

<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg-gray">
<div class="container">
	<h2 class="title-page">Minha conta</h2>
</div> <!-- container //  -->
</section>
<!-- ========================= SECTION PAGETOP END// ========================= -->

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
<div class="container">

<div class="row">
	<aside class="col-md-3">
		<nav class="list-group">
			<a class="list-group-item active" href="{% url 'e-commerce:perfil_principal' %}"> Visão geral da conta </a>
			<a class="list-group-item" href="{% url 'empresas:listar_empresas' %}"> Minha empresa</a>
			<a class="list-group-item" href="page-profile-address.html"> Meu endereço </a>
			<a class="list-group-item" href="page-profile-orders.html"> Meus pedidos </a>
			<a class="list-group-item" href="page-profile-wishlist.html"> Minha lista de desejos </a>
			<a class="list-group-item" href="page-profile-seller.html"> Meus itens de venda </a>
			<a class="list-group-item" href="page-profile-setting.html"> Configurações </a>
			<a class="list-group-item" href="{% url 'logout' %}"> Sair </a>
		</nav>
	</aside> <!-- col.// -->

		      {% block content %}

	          {% endblock %}

</div>

</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

</body>

{% endblock %}
