{% extends 'ecommerce/base.html' %}
{% load static %}

{% block body %}

<body>

<section class="section-pagetop bg-gray">
<div class="container">
	<h2 class="title-page">Minha conta</h2>
</div>
</section>

<section class="section-content padding-y">
	<div class="row">
		{% block menu-perfil %}
			 {% include "empresas/menu-perfil-empresa.html" %}
		{% endblock %}

		{% block formulario-endereco %}
			 {% include "usuarios/endereco/endereco-formulario-editar.html" %}
		{% endblock %}

    </div> <!-- card .// -->
	</div>

<!-- ========================= SECTION CONTENT END// ========================= -->

</body>

<br><br><br><br><br><br>

<script src="{% static 'js/formularioEndereco.js' %}" type="text/javascript"></script>

{% endblock %}
