{% extends 'usuarios/perfil-principal.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<main class="col-md-9">

        <div class="card mb-4">
      <div class="card-body ">

          {% if not usuario.status %}
          <div>
              <h5 class="text-center mt-4">
                  <strong>
					 Você precisa realizar o cadastro de seu perfil para adicionar o seu produto
                  </strong>
                  <img src="{% static 'ecommerce/images/atencao.png' %}"/>
                  </h5>
					<div class="d-flex justify-content-center">

				<a href="{% url 'usuarios:criarperfil' %}" class="btn btn-secondary">Cadastrar produto</a>
					</div>
				</div>

				{% elif usuario.status %}

              <h4 class="card-title mb-5">
                {% if editar == 'editar' %}
                    Editar produto

                    {% else %}
                  Cadastrar produto
                    {% endif %}
                </h4>

          {% if messages %}
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert alert-danger " role="alert">
                        {{ message }}
                    </div>
                {% endif %}
              {% endfor %}
          {% endif %}

              <form  method="POST" autocomplete="off" enctype="multipart/form-data" >
                  {% csrf_token %}
                  <div class="form-row">
                      <div class="form-group col-md-6">
                        {{ form.nome|as_crispy_field }}
                      </div>
                      <div class="form-group col-md-6">
                        {{ form.preco|as_crispy_field }}
                        <small></small>
                      </div>
                  </div>

                  <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="lista_imagens">Imagens do produto</label>
                          <div id="lista_imagens">
                            <a data-toggle="collapse" type="button" class="btn btn-secondary" href="#collapse1">
                              Abrir lista de imagens para adicionar
                            </a>
                            <div id="collapse1" class="panel-collapse collapse">
                              <br>
                              <ul>
                                <li><input type="file" name="foto" id="foto" accept='image/*' required></li>
                                <li><input type="file" name="foto" id="foto" accept='image/*' ></li>
                                <li><input type="file" name="foto" id="foto" accept='image/*' ></li>
                                <li><input type="file" name="foto" id="foto" accept='image/*' ></li>
                                <li><input type="file" name="foto" id="foto" accept='image/*' ></li>
                              </ul>
                            </div>
                          </div>
                      </div>
                    <!-- </div> -->


                  <div class="form-group  col-md-6">
                        {{ form.quantidade|as_crispy_field }}
                  </div>

                  <div class="form-group  col-md-6">
                      <label>Categoria</label>

                        <select name="categoria" id="categoria" class="form-control" required>
                            <option value="" disabled selected hidden>Selecione sua categoria</option>
                            {% for indice, categoria in categorias.items %}
                                {% if categoria.name == 'Mais Categorias' %}
                                   <option value="{{ categoria.name }}|{{categoria.id }}">Outras Categorias</option>
                                {% else %}
                                  <option value="{{ categoria.name }}|{{categoria.id }}">{{ categoria.name }}</option>

                                {% endif %}
                            {% endfor %}
                        </select>
                      <small id="hint_id_categoria" class="form-text text-muted">Obrigatório</small>

                      </div>

                <div class="form-group col-md-6">
                  <label>Subcategoria</label>
								  <select id="subcategoria" name="subcategoria" class="form-control">
								     <option value="" disabled selected hidden>Selecione a subcategoria</option>
								  </select>
                  <small id="hint_id_subcategoria" class="form-text text-muted">Não obrigatório</small>
                 </div>

                     <div class="form-group col-md-12">
                       {{ form.descricao|as_crispy_field }}
                     </div>

                  </div>

                  <label for="caracteristica_card">Características</label>
                  <div id="tabela_adicional">
                  </div>
                  <div class="col-sm-6">
                    <a href="#!" id="add_nova_tabela" class="btn btn-secondary"> Adicionar nova tabela de características </a>
                  </div>

                  <br><br>
                  <div class="form-group">
                      <button type="submit" class="btn btn-primary"> Salvar </button>
                      <a href="{% url 'vitrines:minha_vitrine' %}" class="btn btn-secondary float-right">Voltar para vitrine
                        <i class="fas fa-arrow-circle-left"></i>
                      </a>
                  </div>
              </form>

        {% endif %}
      </div>
    </div>

</main>
<script src="{% static 'js/carregarsubcategorias.js' %}" type="text/javascript"></script>
<script src="{% static 'js/formularioProduto.js' %}" type="text/javascript"></script>
<script src="{% static 'js/validarFoto.js' %}" type="text/javascript"></script>

<style media="screen">
  input[name=nome_caracteristica], input[name=descricao_caracteristica]  {
      background: transparent;
      border: none;
  }
</style>

	{% if messages %}
		{% for m in messages %}
		<script>


			{% if m.level == DEFAULT_MESSAGE_LEVELS.ERROR %}

				const Toast = Swal.mixin({
				  toast: true,
				  position: 'center',
				  showConfirmButton: true,
				  timer: 3000,
				  timerProgressBar: true,
				  didOpen: (toast) => {
					toast.addEventListener('mouseenter', Swal.stopTimer)
					toast.addEventListener('mouseleave', Swal.resumeTimer)
				  }
				})

				Toast.fire({
				  icon: 'error',
				  title: '{{m}}'
				}).then((result) => {
				  if (result.isConfirmed) {
				  }
				})
				{% endif %}
		  </script>
		{% endfor %}
	{% endif %}

{% endblock %}
