{% extends 'usuarios/perfil-principal.html' %}
{% load static %}
{% block content %}

<body xmlns="http://www.w3.org/1999/html">

<main class="col-md-9">

    {% if not empresas %}
    <div class="d-flex justify-content-center">
        <h5>
            <strong>Você não cadastrou a sua empresa!</strong>
        </h5>
        <br>

    </div>


    <div class="d-flex justify-content-center">
         <br>
            <a href="{% url 'empresas:criar_empresa' %}" class="btn btn-secondary mb-3" ><i class="fa fa-plus"></i> Adicionar nova empresa</a>
    </div>
      {% endif %}
    {% for empresa in empresas %}
        <div class="container">
          <div class="row">
            <figure class="icontext">
              <div class="icon">
                <img class="rounded-circle img-sm" src="{{ empresa.logo.url }}">
              </div>
            </figure>
              <div class="col-lg-4 col-md-6">
                <strong> Nome fantasia: </strong> {{ empresa.fantasia }} <br>
                <strong> Razão Social: </strong> {{ empresa.razaoSocial }} <br>
                <strong> CNPJ: </strong> {{ empresa.cnpj }} <br>
              </div>
              <div class="col-lg-6">
                {% if empresa.inscricaoEstadual is None %}
                  <strong> Inscrição estadual: </strong> Sem inscrição estadual <br>
                {% else %}
                  <strong> Inscrição estadual: </strong> {{ empresa.inscricaoEstadual }} <br>
                {% endif %}
                {% if empresa.inscricaoMunicipal is None %}
                  <strong> Inscrição municipal: </strong> Sem inscrição municipal <br>
                {% else %}
                  <strong> Inscrição estadual: </strong> {{ empresa.inscricaoMunicipal }} <br>
                {% endif %}
                <a href="#" class="btn btn-light btn-sm mt-2">Editar</a>
              </div>
          </div>
        </div>

    <hr>
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <p>
            <i class="fa fa-map-marker text-muted"></i> &nbsp; Endereços da empresa:
            <br>
            <div class="form-inline">
              {% for endereco in enderecos %}
              {{ endereco.cidade.nome }}, {{ endereco.rua }},
              {{ endereco.bairro }}, {{ endereco.numero}} &nbsp
              <form action="{% url 'usuarios:editar_endereco' %}"  method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-light btn-sm" name="endereco"
                value="{{ endereco.pk }}" style="background-color:white; border-color:white;">
                Editar
              </button>
            </form>
            <br>
            {% empty %}
            <p> Sua empresa ainda não possui nenhum endereço </p>
            {% endfor %}
          </div>
        </p>
        <br>
        </div>
      <div class="col-lg-5">
        <p>
          <i class="fas fa-phone text-muted"></i> &nbsp; Telefones da empresa:
           <br>
           <div class="form-inline">
            {% for telefone in telefones %}
              {{ telefone.tipo }}: {{ telefone.numero }} &nbsp
              <form action="#"  method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-light btn-sm" name="endereco"
                  value="{{ endereco.pk }}" style="background-color:white; border-color:white;">
                  Editar
                </button>
              </form>
              <br>
              {% empty %}
                <p> A empresa ainda não possui nenhum telefone </p>
            {% endfor %}
          </div>
        </p>
      </div>
      </div>
    </div>

    <article class="card-group card-stat">
      <figure class="card bg">
        <div class="p-3">
          <h4 class="title">38</h4>
          <span>Pedidos em espera</span>
        </div>
      </figure>
      <figure class="card bg">
        <div class="p-3">
          <h4 class="title">12</h4>
          <span>Aguardando entrega</span>
        </div>
      </figure>
      <figure class="card bg">
        <div class="p-3">
          <h4 class="title">50</h4>
          <span>Produtos e serviços entregues</span>
        </div>
      </figure>
    </article>
  </div>
  </main>
	<!-- <div class="card mx-auto " >


      <div class="card-body ">
        <div class="d-flex justify-content-center">
          <img class="rounded-circle float-right img-sm border" src="{{ empresa.logo.url }}">
          </div>
        <br>
        <div class="row">
            <div class="col-sm-4" style="margin-rigth: 35px;">
                <label>
                    <strong>Nome fantasia</strong>
                </label>
                <input type="text" disabled value="{{ empresa.fantasia }}">
            </div>
            <div class="container col-sm-4" syle="margin-rigth: 100px;">
            <div>
                <label>
                    <strong>Razão social</strong>
                </label>
                <input type="text" disabled value="{{ empresa.razaoSocial }}">
            </div>

                </div>
            <div class="w-100">
                 <hr>
            </div>
        </div>
          <div class="row">
            <div class="col-sm-5" >
                <label>
                    <strong>Inscrição municipal</strong>
                </label>
                <input type="text" disabled value="{{ empresa.inscricaoMunicipal }}">
            </div>
              <div>
             <div class="container col-sm-7">
            <div>
                <label>
                    <strong>Inscrição estadual</strong>
                </label>
                <input type="text" disabled value="{{ empresa.inscricaoEstadual }}">
            </div>
                 </div>
                  </div>
        </div>
          <div class="row">
              <div class="w-100">
                 <hr>
              </div>
            <div class="col-sm-3">
                <label>
                    <strong>CNPJ</strong>
                </label>
                <input id="cnpj" data-mask="00.000.000/0000-00"name="cnpj" type="text" disabled value="{{ empresa.cnpj }}">

            </div>
          </div>

          <div class="row">
              <div class="w-100">
                 <hr>
              </div>
              <div class="col-sm-3">

            <a href="#" onclick="editarEmpresa({{ empresa.id }})" class="btn btn-secondary mb-3">Editar <i class="fa fa-pen"></i> </a>

              <a href="#" class="btn btn-secondary mb-3" onclick="deletarEmpresa({{ empresa.id }})"> Deletar <i class="text-danger fa fa-trash"></i>  </a>
              </div>
          </div>
      </div>
    </div> -->
    {% endfor %}
	<!-- </main> -->

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

</body>
<script src="{% static 'js/mensagemDeletarEmpresa.js' %}" type="text/javascript"></script>
<script src="{% static 'js/editarEmpresa.js' %}" type="text/javascript"></script>

{% if messages %}
<ul class="messages">
    {% for m in messages %}
        {% if m.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        {{ message }}
        <script>
            Swal.fire({
              position: 'center',
              icon: 'success',
              title: 'Sucesso',
              text:'{{ m }}',
              showConfirmButton: true,
              confirmButtonColor: '#000080',
            })
        </script>
    {% endif %}
    {% endfor %}
</ul>
{% endif %}

{% endblock %}
